{% extends 'posts/base.html' %}

{% block content %}

<div class="card w-75">
    <div class="card-body">
<h1>{{hui.title}} </h1>

{% if hui.image %}
<img src="{{hui.image.url}}" width="500">
{% endif %}

<p>{{hui.content}}</p>

<b>{{hui.created_at}}</b>

<br>

<hr>

<a href="/post-update/{{hui.pk}}" class="btn btn-info">Update post</a> 

<a href="/post-delete/{{hui.pk}}" class="btn btn-danger">Delete post</a>



<a href="/" class="btn btn-dark">Go to posts lists</a>

</div>
</div>



{% endblock %}